a:link{ attribute: value; }
a:link { color: black; }
a:visited { color: gray; }
a:hover { color: blue; } 
a.sub{color: white; }
.header {
  background-color: black;
  text-align: center;
  font-weight: bold;
  color: white;
  font-family: "Comic Sans MS", serif;
}

.footer {
  background-color: black;
  text-align: center;
  font-weight: bold;
  color:white;
  font-family: "Comic Sans MS", serif;
}

td {
  border: 1.5px solid black;
  padding: 10px;
  background-color:white
}

table {
  width:1000px;
  height:500px;
  font-family: 'Arial', serif;
}
table.sub {
  width:100%;
  height:100%;
  font-family: 'Arial', serif;
}

.nav {
  text-align: center;
  background-color:#dfe5f5;
  font-family: "Comic Sans MS", serif;
}